engine-strict=true
auto-install-peers=true
shamefully-hoist=false
ignore-build-scripts=false
strict-dep-builds=false
only-built-dependencies[]=sharp
ignored-built-dependencies[]=esbuild
ignored-built-dependencies[]=unrs-resolver
